URLBANCO=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/<nomeDoBanco>?retryWrites=true&w=majority
PORT=Porta de hospedagem do backend
URLFRONT=url_do_frontEnd (o back só se comunica com essa url)
AWS_ACESS_KEY_ID=Chave_de_acesso_ao_Bucket
AWS_SECRET_ACESS_KEY=Chave_de_acesso_secreta (gerada no console do amazonS3)
AWS_REGION=regiao_do_Bucket
S3_BUCKET_NAME=nome_do_seu_Bucket
SENHA_CONSOLE=sua senha aqui
SECRET:chavesecretaaleatoria